
<div class="container">
  <div class="row">
       <div class="col-4"></div>
       <div class="col-4">
         <app-contact></app-contact>
       </div>
       <div class="col-4"></div>
    </div>
  </div>
