<h2>Formulario De Contacto</h2>
<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
  
  <div class="mb-4">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="model.email" required #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Este campo es obligatorio.</div>
  </div>
  
  <div class="mb-4 form-check">
    <label for="receive" class="form-label">Quiero recibir un email cuando la tienda esté disponible</label>
    <input type="checkbox" class="form-check-input" id="receive" name="receive" [(ngModel)]="model.receive"
    required #receive="ngModel">
    <div [hidden]="receive.valid || receive.pristine" class="alert alert-danger">Este campo es obligatorio.</div>
  </div>
  
  <div class="mb-4">
    <label for="country" class="form-label">País</label>
    <select name="country" id="country" class="form-select form-select-sm" [(ngModel)]="model.country">
      <option selected>Open this select menu</option>
      <option value="España">España</option>
      <option value="Francia">Francia</option>
      <option value="Italia">Italia</option>
    </select>
  </div>
  
  
  <div class="d-grid gap-2 float-end">
    <button type="submit" class="btn btn-info btn-lg" [disabled]="contactForm.invalid">¡Quiero ser la primera en comprar!</button>
  </div>
</form>
